# Sasint buisness
***

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
dct = {
    "T1":[3,0,0],
    "T2":[1,2,1],
    "T3":[0,0,3]
}
df = pd.DataFrame(dct)

In [7]:
df.head()

   T1  T2  T3
0   3   1   0
1   0   2   0
2   0   1   3

In [8]:
df[['T1']]

   T1
0   3
1   0
2   0

In [11]:
list(df.iloc[0])

[3, 1, 0]